*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-width: 320px;
}

body {
  font-family: system-ui, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

table {
  border-spacing: 0;
}
